:root {
  --tube-width: 
}

.tube {
  border: 2px solid darkslategray;
  border-radius: 0 0 35px 35px;
  border-top: none;
  margin: 15px;
  width: 70px;
  height: 280px;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}