:root {
  --tube-width: 10vh;
}

.tube {
  display: flex;
  flex-direction: column-reverse;
  margin: 15px;
  width: var(--tube-width);
  height: calc(var(--tube-width) * 4 + 20px);
  cursor: pointer;
  border: 2px solid darkslategray;
  border-radius: 0 0 calc(var(--tube-width) / 50%) calc(var(--tube-width) / 50%);
  border-top: none;
}