:root {
  --tube-width: calc(var(--tube-height) / 4);
  --tube-height: 30vh;
}

.tube {
  display: flex;
  flex-direction: column-reverse;
  margin: var(--tube-width) 15px 5px 15px;
  width: var(--tube-width);
  height: var(--tube-height);
  cursor: pointer;
  border-radius: 3px 3px 20px 20px;
  border-top: none;
  background: #EBEDEF;
}