.tube {
  border: 35px solid darkslategray;
  border-radius: 0 0 5px 5px;
  border-top: none;
  margin: 15px;
  width: 70px;
  height: 280px;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}