body {
  background: #34495E;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 70%;
  max-width: 1000px;
  min-width: 400px;
  min-height: 500px;
  margin: 5vh auto;
  /* background:#34495E; */
  border-radius: 10px;
  position: relative;
  border: 0.2em solid #EBEDEF;
}

.color1 {
  background-color: #CF6F85
}
.color2 {
  background-color: #963265
}
.color3 {
  background-color: #3B1433
}
.color4 {
  background-color: #2F2671
}
.color5 {
  background-color: #2F7A8D
}
.color6 {
  background-color: #69CDCB
}
.color7 {
  background-color: #81D37C
}
.color8 {
  background-color: #D0C871
}

footer {
  position: absolute;
  bottom: 15px;
  align-self: center;
  font-size: small;
  color: #fff;
}

@media (min-width: 680px){
  .app {
    width: 100%;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    border: none;
  }
}