.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.tubes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-controls {
  width: 150px;
  height: 30px;
  margin: 10px;
  border: 2px solid darkslategray;
  border-radius: 10px;
  background: #fff;
  color: darkslategray;
  font-size: larger;
}