.board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 320px;
  /* margin-bottom: 20px; */
}

.tubes-container {
  display: grid;
  /* min-height: 400px; */
  width: 100%;
  margin-bottom: 10px;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 3rem;
}

.header-controls {
  width: 33.3%;
  height: 100%;
  margin: 10px;
  border: none;
  background: none;
  color: #EBEDEF;
  font-size: calc(10px + 6 * ((100vw - 320px) / 680));
}

.header-controls:focus {
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

.tubes3 {
  grid-template-columns: repeat(5, 1fr);
}
.tubes4 {
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
.tubes5, .tubes6 {
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
}
.tubes7, .tubes8 {
  grid-template: repeat(2, 1fr) / repeat(5, 1fr);
}

/* @media (max-width: 768px) {
  .header-controls {
    border: 1px solid #EBEDEF;
    min-width: 33%;
  }
}

@media (max-height: 510px) {
  .board-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header {
    flex-direction: column;
    width: fit-content;
  }
  .header-controls {
    width: 100%;
    transform: rotate(-45deg);
    margin: 20px;
    min-width: 90px;
  }
  .tubes-container {
    width: 70%;
  }
}

/* 
@media (min-height: 480px) and (max-width: 480px) {
    .tubes4, .tubes3 {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  .tubes5, .tubes6 {
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  }
  .tubes7, .tubes8 {
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
  }
} */ 