.close-instructions{
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

.hide {
  display: none;
}

.instructions-container{
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 100;
}