.chosen{
  position: relative;
  top: -50px;
}

.ball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  margin: 5px;
  width: calc(var(--tube-width) - 4px);
  height: calc(var(--tube-width) - 4px);
  border-radius: 50%;
}