.chosen{
  position: relative;
  /* top: calc(var(--tube-width) * -1); */
  animation: choose 1s 1;
  animation-fill-mode: forwards;
}

.ball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-self: center;  margin: 5px;
  width: calc(var(--tube-width) - 8px);
  height: calc(var(--tube-width) - 8px);
  border-radius: 50%;
}

@keyframes choose {
  100% {
    transform: translateY(calc(var(--tube-width) * -1));
  }
}