.chosen{
  position: relative;
  top: -35px;
}

.ball {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  align-self: center;  
  margin: 5px;
  width: 35px;
    height: 35px;
  border-radius: 50%;
}

/* @media (min-height: 480px) and (max-width: 480px) {
  .ball {
    width: 35px;
    height: 35px;
  }
  .chosen {
    top: -35px;
  }
} */